<a href="https://colab.research.google.com/github/SJG0510/Private-Project-Practice/blob/main/Health.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

한국어 사용

In [ ]:
import os
import shutil

# matplotlib 폰트 캐시 경로 (코랩 환경)
cache_dirs = [
    os.path.expanduser('~/.cache/matplotlib'),
    '/root/.cache/matplotlib'
]

for cache_dir in cache_dirs:
    if os.path.exists(cache_dir):
        shutil.rmtree(cache_dir)
        print(f"Deleted font cache folder: {cache_dir}")
    else:
        print(f"Font cache folder not found: {cache_dir}")

import matplotlib.font_manager as fm

# Nanum Gothic 폰트 경로
font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'

# 폰트 등록
fm.fontManager.addfont(font_path)

# 폰트 프로퍼티 생성
fontprop = fm.FontProperties(fname=font_path, size=12)

print("한글 폰트 설정 완료")

Font cache folder not found: /root/.cache/matplotlib
Font cache folder not found: /root/.cache/matplotlib
한글 폰트 설정 완료

데이터 로드

In [ ]:
import pandas as pd
import urllib.parse

# GitHub raw 파일 기본 경로
base_url = "https://raw.githubusercontent.com/SJG0510/Private-Project-Practice/data/"

file_names = {
    'smoking': '시도_현재흡연.csv',           # 현재 흡연율 데이터
    'monthly_drinking': '시도_월간음주.csv',  # 월간 음주율 데이터
    'highrisk_drinking': '시도_고위험음주.csv', # 고위험 음주율 데이터
    'obesity': '시도_비만율.csv',             # 비만율 데이터
    'depression': '시도_우울감.csv',           # 우울감 경험률 데이터
    'depressive_symptom': '시도_우울증상.csv',  # 우울증상 경험률 데이터
    'stress': '시도_스트레스.csv',             # 스트레스 인지율 데이터
}

def load_csv_files(base_url, file_dict):
    data = {}
    for key, filename in file_dict.items():
        encoded_filename = urllib.parse.quote(filename)
        url = base_url + encoded_filename
        try:
            try:
                df = pd.read_csv(url, encoding='utf-8-sig')
            except UnicodeDecodeError:
                df = pd.read_csv(url, encoding='cp949')
            data[key] = df
            print(f"{key} loaded successfully")
        except Exception as e:
            error_msg = str(e).encode('ascii', errors='ignore').decode()
            print(f"{key} load failed: {error_msg}")
    return data

data_dict = load_csv_files(base_url, file_names)

# 데이터 일부 확인
for key, df in data_dict.items():
    print(f"\n[{key}] sample data:")
    print(df.head(5))

smoking loaded successfully
monthly_drinking loaded successfully
highrisk_drinking loaded successfully
obesity loaded successfully
depression loaded successfully
depressive_symptom loaded successfully
stress loaded successfully

[smoking] sample data:
   구분 Unnamed: 1 Unnamed: 2       2008       2009       2010       2011  \
0  서울          N        (명)     21,913     23,175     22,897     23,115
1  서울         전체       (조율)  24.2(0.3)  24.3(0.3)  23.2(0.3)  22.3(0.3)
2  서울        NaN     (표준화율)  24.6(0.3)  24.7(0.3)  23.7(0.3)  23.0(0.3)
3  서울          남        NaN  45.6(0.6)  45.5(0.5)  43.5(0.5)  42.0(0.5)
4  서울          여        NaN   3.7(0.2)   4.0(0.2)   3.6(0.2)   3.5(0.2)

        2012       2013       2014  ...       2016       2017       2018  \
0     23,059     23,136     23,026  ...     22,950     22,955     22,904
1  22.2(0.3)  21.7(0.3)  20.6(0.3)  ...  19.5(0.3)  18.8(0.3)  18.6(0.3)
2  23.0(0.3)  22.6(0.3)  21.4(0.3)  ...  20.5(0.3)  20.0(0.3)  19.8(0.3)
3  41.6(0.5)  40.6(0.5)  38.5(0.5)  ...  36.6(0.5)  35.1(0.5)  34.4(0.5)
4   3.7(0.2)   3.7(0.2)   3.4(0.2)  ...   3.4(0.2)   3.3(0.2)   3.6(0.2)

        2019       2020       2021       2022       2023       2024     95% CI
0     22,928     22,908     22,920     22,943     22,928     22,903        NaN
1  16.7(0.3)  15.5(0.3)  14.9(0.3)  15.3(0.3)  16.6(0.3)  14.8(0.3)  14.2-15.3
2  17.8(0.3)  16.6(0.3)  15.8(0.3)  16.3(0.3)  17.9(0.3)  15.7(0.3)  15.2-16.3
3  30.9(0.5)  28.9(0.5)  27.9(0.5)  28.1(0.5)  30.1(0.5)  26.6(0.5)  25.7-27.5
4   3.5(0.2)   3.0(0.2)   2.7(0.2)   3.5(0.2)   4.0(0.2)   3.9(0.2)    3.5-4.3

[5 rows x 21 columns]

[monthly_drinking] sample data:
   구분 Unnamed: 1 Unnamed: 2       2008       2009       2010       2011  \
0  서울          N        (명)     21,880     23,178     22,877     23,115
1  서울         전체       (조율)  57.7(0.4)  57.8(0.4)  59.8(0.4)  61.4(0.4)
2  서울        NaN     (표준화율)  57.8(0.3)  58.1(0.3)  60.4(0.3)  62.3(0.3)
3  서울          남        NaN  75.3(0.5)  75.7(0.5)  76.4(0.5)  77.6(0.5)
4  서울          여        NaN  40.8(0.5)  40.5(0.5)  43.9(0.5)  45.9(0.5)

        2012       2013       2014  ...       2016       2017       2018  \
0     23,057     23,137     23,025  ...     22,939     22,949     22,900
1  59.1(0.4)  60.7(0.4)  60.3(0.4)  ...  61.5(0.4)  61.0(0.4)  59.7(0.4)
2  60.3(0.3)  62.3(0.3)  62.2(0.3)  ...  63.8(0.3)  63.8(0.3)  62.8(0.3)
3  76.0(0.4)  77.1(0.5)  75.8(0.4)  ...  76.8(0.5)  74.8(0.5)  73.8(0.5)
4  42.9(0.5)  45.1(0.5)  45.6(0.5)  ...  46.9(0.5)  47.9(0.5)  46.3(0.5)

        2019       2020       2021       2022       2023       2024     95% CI
0     22,925     22,907     22,919     22,943     22,927     22,905        NaN
1  58.7(0.4)  53.0(0.4)  50.9(0.4)  55.3(0.4)  56.3(0.4)  56.2(0.4)  55.4-56.9
2  62.1(0.4)  56.5(0.4)  54.9(0.4)  59.4(0.4)  60.7(0.4)  60.5(0.4)  59.8-61.2
3  71.9(0.5)  66.5(0.5)  63.9(0.5)  67.9(0.5)  67.7(0.5)  67.7(0.5)  66.7-68.6
4  46.3(0.5)  40.3(0.5)  38.7(0.5)  43.6(0.5)  45.7(0.5)  45.6(0.5)  44.7-46.6

[5 rows x 21 columns]

[highrisk_drinking] sample data:
   구분 Unnamed: 1 Unnamed: 2       2008       2009       2010       2011  \
0  서울          N        (명)     21,872     23,177     22,873     23,114
1  서울         전체       (조율)  14.2(0.3)  12.3(0.2)  11.8(0.2)  14.2(0.3)
2  서울        NaN     (표준화율)  14.3(0.3)  12.4(0.2)  12.0(0.2)  14.4(0.2)
3  서울          남        NaN  24.2(0.5)  21.3(0.4)  20.8(0.4)  24.5(0.5)
4  서울          여        NaN   4.6(0.2)   3.7(0.2)   3.2(0.2)   4.4(0.2)

        2012       2013       2014  ...       2016       2017       2018  \
0     23,056     23,136     23,025  ...     22,938     22,949     22,900
1  12.3(0.2)  13.6(0.3)  13.1(0.3)  ...  12.6(0.2)  13.2(0.2)  13.0(0.3)
2  12.6(0.2)  14.0(0.3)  13.5(0.2)  ...  13.2(0.2)  14.0(0.3)  13.8(0.3)
3  21.0(0.4)  23.4(0.5)  22.0(0.4)  ...  21.0(0.4)  21.8(0.4)  21.0(0.4)
4   3.9(0.2)   4.1(0.2)   4.6(0.2)  ...   4.7(0.2)   5.1(0.2)   5.4(0.2)

        2019       2020       2021       2022       2023       2024     95% CI
0     22,925     22,907     22,919     22,943     22,927     22,905        NaN
1  12.6(0.3)   8.9(0.2)   8.3(0.2)   9.7(0.2)  10.3(0.2)  10.4(0.2)  10.0-10.9
2  13.5(0.3)   9.6(0.2)   9.1(0.2)  10.6(0.2)  11.2(0.3)  11.4(0.3)  10.9-11.9
3  20.4(0.5)  14.0(0.4)  13.5(0.4)  15.2(0.4)  15.8(0.4)  15.9(0.4)  15.1-16.6
4   5.3(0.2)   4.1(0.2)   3.5(0.2)   4.7(0.2)   5.1(0.2)   5.5(0.2)    5.0-5.9

[5 rows x 21 columns]

[obesity] sample data:
   구분 Unnamed: 1 Unnamed: 2       2008       2009       2010       2011  \
0  서울          N        (명)     21,586     23,152     22,639     22,822
1  서울         전체       (조율)  20.6(0.3)  21.4(0.3)  21.7(0.3)  22.7(0.3)
2  서울        NaN     (표준화율)  20.7(0.3)  21.4(0.3)  21.7(0.3)  22.5(0.3)
3  서울          남        NaN  26.6(0.5)  27.7(0.5)  28.5(0.5)  29.8(0.5)
4  서울          여        NaN  14.7(0.4)  15.3(0.4)  15.1(0.3)  15.9(0.4)

        2012       2013       2014  ...       2016       2017       2018 2019  \
0     22,611     22,827     22,660  ...     22,590     22,647     22,293  NaN
1  23.7(0.3)  23.2(0.3)  23.9(0.3)  ...  25.7(0.3)  25.7(0.3)  28.8(0.3)  NaN
2  23.4(0.3)  23.1(0.3)  23.6(0.3)  ...  25.5(0.3)  25.5(0.3)  28.6(0.3)  NaN
3  31.0(0.5)  30.6(0.5)  31.7(0.5)  ...  34.1(0.5)  34.5(0.5)  37.6(0.5)  NaN
4  16.5(0.4)  16.0(0.3)  16.2(0.3)  ...  17.6(0.4)  17.3(0.4)  20.4(0.4)  NaN

        2020       2021       2022       2023       2024     95% CI
0     22,628     22,751     22,763     22,856     22,816        NaN
1  28.2(0.3)  28.6(0.3)  29.5(0.3)  28.2(0.3)  30.1(0.3)  29.5-30.8
2  28.5(0.3)  29.2(0.3)  30.2(0.4)  28.8(0.3)  31.0(0.4)  30.3-31.7
3  38.1(0.5)  38.5(0.5)  39.7(0.5)  38.9(0.5)  40.0(0.5)  39.0-41.0
4  18.9(0.4)  19.4(0.4)  20.0(0.4)  18.4(0.4)  21.0(0.4)  20.3-21.8

[5 rows x 21 columns]

[depression] sample data:
   구분 Unnamed: 1 Unnamed: 2       2008       2009      2010      2011  \
0  서울          N        (명)     21,916     23,171    22,871    23,109
1  서울         전체       (조율)   8.2(0.2)   7.9(0.2)  6.8(0.2)  7.0(0.2)
2  서울        NaN     (표준화율)   8.1(0.2)   7.8(0.2)  6.7(0.2)  6.9(0.2)
3  서울          남        NaN   5.3(0.2)   5.3(0.2)  4.6(0.2)  4.9(0.2)
4  서울          여        NaN  10.9(0.3)  10.3(0.3)  9.0(0.3)  9.1(0.3)

       2012      2013       2014  ...      2016      2017      2018      2019  \
0    23,055    23,135     23,024  ...    22,933    22,945    22,903    22,909
1  6.8(0.2)  7.1(0.2)   8.3(0.2)  ...  7.0(0.2)  7.2(0.2)  5.1(0.2)  6.5(0.2)
2  6.7(0.2)  7.0(0.2)   8.1(0.2)  ...  6.9(0.2)  7.1(0.2)  4.9(0.2)  6.5(0.2)
3  4.9(0.2)  5.0(0.2)   6.2(0.3)  ...  5.4(0.2)  5.6(0.2)  3.6(0.2)  5.0(0.2)
4  8.7(0.3)  9.1(0.3)  10.3(0.3)  ...  8.4(0.3)  8.7(0.3)  6.4(0.2)  8.0(0.3)

       2020      2021      2022       2023      2024   95% CI
0    22,912    22,923    22,941     22,928    22,904      NaN
1  6.3(0.2)  7.0(0.2)  7.3(0.2)   8.4(0.2)  7.5(0.2)  7.1-7.9
2  6.3(0.2)  6.8(0.2)  7.1(0.2)   8.3(0.2)  7.3(0.2)  6.9-7.8
3  4.8(0.2)  5.2(0.2)  5.3(0.2)   6.3(0.3)  6.0(0.3)  5.5-6.5
4  7.7(0.3)  8.6(0.3)  9.1(0.3)  10.2(0.3)  8.8(0.3)  8.3-9.4

[5 rows x 21 columns]

[depressive_symptom] sample data:
   구분 Unnamed: 1 Unnamed: 2  2008  2009  2010  2011  2012  2013  2014  ...  \
0  서울          N        (명)   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1  서울         전체       (조율)   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
2  서울        NaN     (표준화율)   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
3  서울          남        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
4  서울          여        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

   2016      2017      2018      2019      2020      2021      2022      2023  \
0   NaN    22,854    22,858    22,823    22,819    22,890    22,921    22,917
1   NaN  3.6(0.1)  3.6(0.1)  3.8(0.1)  3.2(0.1)  3.7(0.1)  4.1(0.1)  4.4(0.2)
2   NaN  3.6(0.1)  3.5(0.1)  3.7(0.1)  3.2(0.1)  3.5(0.1)  4.0(0.2)  4.5(0.2)
3   NaN  2.7(0.2)  2.8(0.2)  2.8(0.2)  2.3(0.2)  2.6(0.2)  2.9(0.2)  3.4(0.2)
4   NaN  4.4(0.2)  4.4(0.2)  4.8(0.2)  4.1(0.2)  4.6(0.2)  5.1(0.2)  5.4(0.2)

       2024   95% CI
0    22,883      NaN
1  4.4(0.2)  4.1-4.7
2  4.2(0.2)  3.9-4.5
3  3.4(0.2)  3.1-3.8
4  5.2(0.2)  4.8-5.6

[5 rows x 21 columns]

[stress] sample data:
   구분 Unnamed: 1 Unnamed: 2       2008       2009       2010       2011  \
0  서울          N        (명)     21,911     23,172     22,866     23,104
1  서울         전체       (조율)  30.4(0.4)  31.1(0.4)  29.5(0.3)  30.6(0.3)
2  서울        NaN     (표준화율)  30.6(0.3)  31.2(0.3)  29.8(0.3)  31.0(0.3)
3  서울          남        NaN  31.6(0.5)  32.0(0.5)  30.1(0.5)  30.7(0.5)
4  서울          여        NaN  29.3(0.5)  30.3(0.5)  29.0(0.4)  30.6(0.4)

        2012       2013       2014  ...       2016       2017       2018  \
0     23,047     23,136     23,023  ...     22,943     22,943     22,902
1  30.6(0.3)  28.7(0.3)  29.7(0.3)  ...  29.1(0.3)  26.8(0.3)  26.4(0.3)
2  31.1(0.3)  29.4(0.3)  30.6(0.3)  ...  30.1(0.3)  28.1(0.3)  27.7(0.3)
3  30.1(0.5)  28.4(0.5)  30.0(0.5)  ...  29.3(0.5)  25.8(0.5)  26.0(0.5)
4  31.0(0.4)  29.0(0.4)  29.5(0.4)  ...  28.9(0.4)  27.7(0.4)  26.8(0.4)

        2019       2020       2021       2022       2023       2024     95% CI
0     22,919     22,910     22,919     22,940     22,928     22,906        NaN
1  25.8(0.3)  27.8(0.3)  26.3(0.3)  24.0(0.3)  25.4(0.3)  24.0(0.3)  23.3-24.6
2  27.2(0.3)  29.5(0.4)  28.0(0.3)  25.7(0.3)  27.1(0.4)  25.9(0.4)  25.2-26.6
3  23.9(0.5)  26.3(0.5)  24.5(0.4)  22.7(0.5)  24.2(0.5)  22.8(0.4)  22.0-23.7
4  27.6(0.5)  29.2(0.4)  27.9(0.4)  25.2(0.4)  26.6(0.4)  25.0(0.4)  24.2-25.9

[5 rows x 21 columns]

전처리

In [ ]:
import re

def preprocess_smoking_data(df):
    # '95% CI' 컬럼 제거
    if '95% CI' in df.columns:
        df = df.drop(columns=['95% CI'])

    # 'Unnamed: 1' 컬럼 기준으로 '전체', '남', '여', 연령대 필터링
    전체_df = df[df['Unnamed: 1'] == '전체'].copy()
    성별_df = df[df['Unnamed: 1'].isin(['남', '여'])].copy()
    연령_df = df[df['Unnamed: 1'].isin(['19-29', '30-39', '40-49', '50-59', '60-69', '70이상'])].copy()

    # 숫자 데이터에서 괄호, 단위 제거 및 숫자형 변환 함수
    def to_numeric(val):
        if pd.isna(val):
            return None
        s = re.findall(r"[-+]?\d*\.\d+|\d+", str(val))
        return float(s[0]) if s else None

    # 연도 컬럼만 선택 (2008~2024)
    year_cols = [col for col in df.columns if re.match(r"^\d{4}$", str(col))]

    # 각 데이터프레임 숫자형 변환
    for year in year_cols:
        전체_df[year] = 전체_df[year].apply(to_numeric)
        성별_df[year] = 성별_df[year].apply(to_numeric)
        연령_df[year] = 연령_df[year].apply(to_numeric)

    # 인덱스 초기화
    전체_df.reset_index(drop=True, inplace=True)
    성별_df.reset_index(drop=True, inplace=True)
    연령_df.reset_index(drop=True, inplace=True)

    return 전체_df, 성별_df, 연령_df

# 불러온 데이터 전처리
smoking_df = data_dict['smoking']
전체, 성별, 연령 = preprocess_smoking_data(smoking_df)

print("전체 데이터 샘플")
print(전체.head(5))
print("\n성별 데이터 샘플")
print(성별.head(5))
print("\n연령 데이터 샘플")
print(연령.head(5))

전체 데이터 샘플
   구분 Unnamed: 1 Unnamed: 2  2008  2009  2010  2011  2012  2013  2014  2015  \
0  서울         전체       (조율)  24.2  24.3  23.2  22.3  22.2  21.7  20.6  19.4
1  부산         전체       (조율)  26.1  26.5  24.6  24.3  23.5  23.1  22.3  20.6
2  대구         전체       (조율)  25.0  25.6  24.5  24.4  24.5  23.7  22.9  20.4
3  인천         전체       (조율)  26.5  26.9  27.1  25.9  25.8  24.3  25.4  23.8
4  광주         전체       (조율)  21.2  22.1  22.2  22.7  23.0  21.9  22.2  18.6

   2016  2017  2018  2019  2020  2021  2022  2023  2024
0  19.5  18.8  18.6  16.7  15.5  14.9  15.3  16.6  14.8
1  20.5  20.4  19.6  17.7  17.4  16.6  17.1  17.2  15.9
2  19.6  19.6  20.5  18.5  18.3  17.8  17.0  18.2  17.9
3  24.1  22.2  22.3  19.9  19.8  19.4  19.4  18.7  18.3
4  18.8  20.1  19.9  18.6  17.2  16.3  17.1  16.9  15.6

성별 데이터 샘플
   구분 Unnamed: 1 Unnamed: 2  2008  2009  2010  2011  2012  2013  2014  2015  \
0  서울          남        NaN  45.6  45.5  43.5  42.0  41.6  40.6  38.5  36.2
1  서울          여        NaN   3.7   4.0   3.6   3.5   3.7   3.7   3.4   3.4
2  부산          남        NaN  49.7  50.4  46.7  46.2  44.9  43.9  42.6  39.4
3  부산          여        NaN   3.6   3.7   3.3   3.4   2.9   3.1   3.0   2.5
4  대구          남        NaN  48.2  49.1  46.5  46.8  47.2  45.6  43.5  39.1

   2016  2017  2018  2019  2020  2021  2022  2023  2024
0  36.6  35.1  34.4  30.9  28.9  27.9  28.1  30.1  26.6
1   3.4   3.3   3.6   3.5   3.0   2.7   3.5   4.0   3.9
2  38.6  38.7  36.9  33.3  33.0  31.5  31.7  31.9  29.6
3   3.2   2.9   3.2   2.8   2.7   2.6   3.3   3.4   3.1
4  37.1  37.4  39.0  35.6  35.2  33.4  31.6  34.1  33.5

연령 데이터 샘플
   구분 Unnamed: 1 Unnamed: 2  2008  2009  2010  2011  2012  2013  2014  2015  \
0  서울      19-29        NaN  24.3  24.9  23.8  22.5  22.6  20.7  20.3  19.5
1  서울      30-39        NaN  30.8  30.8  29.8  28.7  29.1  28.3  24.4  24.8
2  서울      40-49        NaN  26.8  27.0  26.3  26.7  26.8  26.9  25.8  23.5
3  서울      50-59        NaN  21.6  22.4  20.7  19.6  19.1  20.5  20.7  20.0
4  서울      60-69        NaN  16.5  15.3  13.9  14.5  13.8  12.5  13.9  12.4

   2016  2017  2018  2019  2020  2021  2022  2023  2024
0  18.7  19.6  18.9  16.8  16.3  15.6  16.3  18.1  15.1
1  24.0  22.8  22.2  17.9  16.4  14.3  16.4  16.7  14.7
2  24.2  24.1  23.3  22.1  19.6  18.8  17.3  21.0  17.9
3  20.3  19.1  20.0  19.0  18.4  18.2  19.9  20.6  18.9
4  14.2  12.0  13.7  12.9  12.6  12.6  12.3  14.0  13.3

학습 및 예측

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

def train_linear_regression(X, y):
    """
    선형회귀 모델 학습
    X : 2차원 numpy array, 입력 (연도)
    y : 1차원 numpy array, 목표값 (흡연율)
    """
    model = LinearRegression()
    model.fit(X, y)
    return model

def fit_region_category(df, region, category):
    """
    특정 지역(region), 특정 구분(category)의 흡연율 데이터로 선형회귀 모델 학습
    df : 전체, 성별, 또는 연령별 DataFrame 중 하나
    region : 예) '서울'
    category : 예) '전체', '남', '여', '19-29' 등 (df의 'Unnamed: 1' 컬럼 기준)
    """
    sub_df = df[(df['구분'] == region) & (df['Unnamed: 1'] == category)]
    if sub_df.empty:
        print(f"{region} - {category} 데이터 없음")
        return None, None, None

    # 연도 컬럼명 리스트 (문자열)
    year_cols = [col for col in df.columns if col.isdigit()]
    # X: 연도 숫자, 2차원 배열 (n_samples, 1)
    X = np.array([int(year) for year in year_cols]).reshape(-1, 1)
    # y: 해당 지역-구분의 연도별 흡연율 값, 1차원 배열
    y = sub_df[year_cols].values.flatten().astype(float)

    model = train_linear_regression(X, y)
    return model, X.flatten(), y

In [ ]:
def show_prediction(df, region, category, predict_years=2):
    model, actual_years, actual_rates = fit_region_category(df, region, category)
    if model is None:
        print(f"[{region} - {category}] 데이터가 없어 예측을 건너뜁니다.")
        return

    last_year = actual_years[-1]
    pred_years, pred_rates = predict_future(model, last_year, predict_years)

    # 실제 데이터 출력
    print(f"\n[{region} - {category}] 학습 데이터 연도:")
    print(actual_years)
    print(f"[{region} - {category}] 실제 흡연율:")
    print(actual_rates)

    # 예측 데이터 출력
    print(f"[{region} - {category}] 예측 연도:")
    print(pred_years)
    print(f"[{region} - {category}] 예측 흡연율:")
    print(pred_rates)

    # 시각화
    plt.figure(figsize=(10,6))
    plt.plot(actual_years, actual_rates, marker='o', label="실제 흡연율")
    plt.plot(pred_years, pred_rates, 'r--', marker='x', label="예측 흡연율")
    plt.xlabel("연도", fontproperties=fontprop)
    plt.ylabel("흡연율 (%)", fontproperties=fontprop)
    plt.title(f"{region} - {category} 흡연율 예측", fontproperties=fontprop)
    plt.legend(prop=fontprop)
    plt.grid(True)
    plt.xticks(list(range(min(actual_years), max(pred_years)+1)))
    plt.show()

def interactive_prediction(df, predict_years=2):
    print("예측 가능한 지역명 목록:")
    print(", ".join(df['구분'].unique()))
    print("\n예측 가능한 구분명 목록:")
    print("전체, 남, 여, 19-29, 30-39, 40-49, 50-59, 60-69, 70이상")

    region = input("예측할 지역명을 입력하세요: ").strip()
    categories_input = input("예측할 구분명을 쉼표로 구분하여 입력하세요: ")
    categories = [c.strip() for c in categories_input.split(',')]

    for category in categories:
        show_prediction(df, region, category, predict_years)

# 실행: 직접 입력으로 동작
interactive_prediction(전체, predict_years=2)

예측 가능한 지역명 목록:
서울, 부산, 대구, 인천, 광주, 대전, 울산, 세종, 경기, 강원, 충북, 충남, 전북, 전남, 경북, 경남, 제주

예측 가능한 구분명 목록:
전체, 남, 여, 19-29, 30-39, 40-49, 50-59, 60-69, 70이상
예측할 지역명을 입력하세요: 서울
예측할 구분명을 쉼표로 구분하여 입력하세요: 19-29
서울 - 19-29 데이터 없음
[서울 - 19-29] 데이터가 없어 예측을 건너뜁니다.